<!DOCTYPE html>
<!--selecting computer to play on, link to song list, link to add songs-->
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="application.css" />
  <script type="text/javascript" src="application.js"></script>
</head>

<h1>Connect another device to control from</h1><br>

<button type="submit" class="btn btn-lg btn-link" onclick="window.location='/';"><h4>Return to Home Screen</h4></button>
<script>
    $(document).ready(function() {
        testPlay('<%= @url %>').addEventListener("ended", function()
        {
            window.location.reload();
        });
    });
</script>
</html>

