<!DOCTYPE html>
<!--selecting computer to play on, link to song list, link to add songs-->
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="application.css" />
  <script type="text/javascript" src="application.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<style>
    button#mybutton {
        font-size: 18px;
        height:40px;
        width:40px;
    }
    glyph {
        color: white;
    }
</style>

<h1>mission control</h1>

<h3>Now Playing:</h3><br>

<button id="mybutton" type="submit" class="btn btn-lg btn-link" onclick="back();">
  <span id="glyph" class="glyphicon glyphicon-step-backward"></span>
</button>
<button id="mybutton" type="submit" class="btn btn-lg btn-link" onclick="restart();">
  <span class="glyphicon glyphicon-play"></span>
</button>
<button id="mybutton" type="submit" class="btn btn-lg btn-link" onclick="pause();">
  <span class="glyphicon glyphicon-pause"></span>
</button>
<button id="mybutton" type="submit" class="btn btn-lg btn-link" onclick="stop();">
  <span class="glyphicon glyphicon-stop"></span>
</button>
<button id="mybutton" type="submit" class="btn btn-lg btn-link" onclick="next();">
  <span class="glyphicon glyphicon-step-forward"></span>
</button>


<br><br><br>
<table id="t01" align="center">
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Year</th>
  </tr>
  <tr>
    <td>audio/Prelude1221.mp3</td>
    <td>Artist1</td>
    <td>Album1</td>
    <th>Year1</th>
  </tr>
  <tr>
    <td>audio/Radioactive.mp3</td>
    <td>Artist2</td>
    <td>Album2</td>
    <th>Year2</th>
  </tr>
</table><br><br>


<script type="text/javascript">
    $('#t01 tr').click(function(){
        $(this).addClass('selected').siblings().removeClass('selected');
        var value = $(this).find('td:first').html();
        testPlay(value);
    });
</script>

<button type="submit" class="btn btn-lg btn-link" onclick="window.location='/';"><h4>Return to Home Screen</h4></button>

</html>