<!DOCTYPE html>
<!--selecting computer to play on, link to song list, link to add songs-->
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="application.css" />
  <script type="text/javascript" src="application.js"></script>
</head>

<body>
<h1>Media Center</h1><br>

<button type="submit" class="btn btn-lg btn-link" onclick="window.location='/player';"><h4>Play from this device</h4></button>
<br><br><br>

<button type="submit" class="btn btn-lg btn-link" onclick="window.location='/control';"><h4>Control from this device</h4></button>
<br><br><br>

<button type="submit" class="btn btn-lg btn-link" onclick="window.location='/reader';"><h4>Upload Songs</h4></button>

</body>
</html>



