<!DOCTYPE html>
<!--selecting computer to play on, link to song list, link to add songs-->
<html>
<head>
  <link rel="stylesheet" type="text/css" href="application.css" />
  <script type="text/javascript" src="application.js"></script>
</head>

<body>
<h1>Media Center</h1><br>

<a href="/player"><h2>Play from this device</h2></a>

<a href="#" onclick="unhide('select');"><h2>Control from this device</h2></a>
<div id="select" class="hidden">
    <select id="list">
      <!--list populated by information returned-->
      <option value="val">comp name</option>
    </select>
    <form action="/control">
      <input type="submit" value="Select">
    </form>
</div>

<a href="/reader"><h2>Upload Songs</h2></a>
<p>Hi</p>

</body>
</html>



