<!DOCTYPE html>
<!--selecting computer to play on, link to song list, link to add songs-->

<html>
<body>
<title>Media Center</title>
<h1>Media Center</h1>

<h3>Select a computer to play from</h3>
<input type="text" name="computername" placeholder="Computer Name">
<input type="submit" value="Select">
<!--when setting up playing computer, give name-->
<!--selecting computer name give (input box)-->


<a href="mission_control"><h3>Songs</h3></a>

<a href="reader"><h3>Add Songs</h3></a>

</body>
</html>

