/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #2E2F30;
    position: relative;
    text-align: center;
    color: #00A876;
}
h1 {
    color: #00A876;
    font-size: 50px;
}

a:link {
    color: #FFA100;
}

button {
    background: #FFA100;
    border-color: #2E2F30;
    color: #2E2F30;
    padding-right: 5px;
    padding-left: 5px;
}

input {
    font-size: large;
    background: #FFA100;
    border-color: #2E2F30;
    color: #2E2F30;
}

select {
    font-size: large;
    background: #FFA100;
    border-color: #2E2F30;
    color: #2E2F30;
}

table {
    width: 75%;

}

table#t01 tr:nth-child(even) {
    background-color: #2E2F30;
}
table#t01 tr:nth-child(odd) {
    background-color: #454648;
}

.hidden{
 display:none;
}

.unhidden{
    display:block;
}