/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #2E2F30 !important;
    position: relative !important;
    text-align: center !important;
    color: #00A876 !important;
}
h1 {
    color: #00A876 !important;
    font-size: 50px !important;
}

a:link {
    color: #FFA100 !important;
}

button {
    background: #FFA100 !important;
    border-color: #2E2F30 !important;
    color: #2E2F30 !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

input {
    font-size: large !important;
    background: #FFA100 !important;
    border-color: #2E2F30 !important;
    color: #2E2F30 !important;
}

select {
    font-size: large !important;
    background: #FFA100 !important;
    border-color: #2E2F30 !important;
    color: #2E2F30 !important;
    height: 35px;
}

table {
    width: 75% !important;
    font-size: large !important;
    text-align: left !important;
}

table#t01 tr:nth-child(even) {
    background-color: #2E2F30 !important;
}
table#t01 tr:nth-child(odd) {
    background-color: #454648 !important;
}

.hidden{
 display:none !important;
}

.unhidden{
    display:block !important;
}