<!DOCTYPE html>
<!--selecting computer to play on, link to song list, link to add songs-->
<html>
<head>
  <link rel="stylesheet" type="text/css" href="application.css" />
  <script type="text/javascript" src="application.js"></script>
</head>

<body>

<h1>Pick a song file to upload</h1><br>

<%= form_for @song, url: upload_song_path, multipart: true do |f| %>
    <%= f.text_field :title, class:"title" %>
    <%= f.file_field :file, class:"file" %>
    <%= f.submit%>
<% end %>

<br><br>

<button type="submit" class="btn btn-lg btn-link" onclick="window.location='/home';"><h3>Return to Home Screen</h3></button>

</body>

</html>
