<!DOCTYPE html>
<!--selecting computer to play on, link to song list, link to add songs-->
<html>
<head>
  <link rel="stylesheet" type="text/css" href="application.css" />
  <script type="text/javascript" src="application.js"></script>
</head>

<h1>upload</h1>

</html>